<div class="swiper-container swiper1">
    <div class="swiper-wrapper">
        <% @helps.each do |help| %>
            <div class="swiper-slide">
                <div class="card">
                    <div class="card-img"></div>
                    <div class="card-text">
                        <p class="tag"><%= help.help_type %></p>         
                        <p class="card-heading"><%= help.user.name %></p>
                        <p class="card-subheading"><%= help.district.name %>, <%= help.district.state.name %></p>
                        <p class="card-paragraph"><%= help.description %></p>
                    </div>
                    <a class="card-link">Help</a>
                </div>
            </div>
        <% end %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>