<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jom tolong</title>
</head>
<body>
    <header>
        <p>Jom Tolong</p>
    </header>
    
    <section id="hero">
        <div class="hero-copy">
            <h1 class='heading'>Help is needed</h1>
            <p class='subheading'>Let's get help for those who need it</p>
        </div>
        <div class="hero-links">
            <%= link_to 'I need help', new_user_path, class: "primary para" %>
            <a class="secondary para">I can help</a>
        </div>
    </section>
    
    <section id="persons-in-need">
        <h2 class='subheading'>People who need your help...</h2>
        <% @users.each do |user| %>
            <div class="card">
                <div class="card-img">
                </div>
                <div class="card-text">
                    <p class="tag"><%= user.helps.last.help_type %></p>         
                    <p class="card-heading"><%= user.name %></p>
                    <p class="card-subheading"><%= user.helps.last.district.name %>, <%= user.helps.last.district.state.name %></p>
                    <p class="card-paragraph"><%= user.helps.last.description %></p>
                </div>
                <a class="card-link">Help</a>
            </div>
        <% end %>
    </section>

    <% @initiatives.each do |initiative| %>
        <div class="card">
            <div class="card-img">
            </div>
            <div class="card-text">
                <h3 class='card-heading'><%= initiative.name %></h3>
                <a class='card-link' href="<%= initiative.link %>" target='_blank'>Go</a>
            </div>
        </div>
    <% end %>
</body>
</html>