<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jom tolong</title>
</head>
<body>
    <h1>Index</h1>
    <a><%= link_to 'I need help', new_persons_in_need_path %></a>
    <% @persons_in_need.each do |person| %>
        <div class="card">
            <div class="card-img"></div>
            <div class="card-copy">
                <h3 class="card-heading"><%= person.name %></h3>
                <p><%= person.phone_number %></p>
            </div>
        </div>
    <% end %>
    <% @initiatives.each do |initiative| %>
        <div class="card">
            <div class="card-img">
            </div>
            <div class="card-copy">
                <h3 class='card-heading'><%= initiative.name %></h3>
                <a class='card-link' href="<%= initiative.link %>" target='_blank'>Go</a>
            </div>
        </div>
    <% end %>
</body>
</html>