<h3>Fill in your information</h3>

<%= form_with model: @person_in_need do |form| %>
    <%= form.label :first_name %>
    <%= form.text_field :first_name%>
    <br>
    <%= form.label :last_name %>
    <%= form.text_field :last_name%>
    <br>
    <%= form.label :phone_number %>
    <%= form.phone_field :phone_number %>
    <br>
    <%= form.label :state %>
    <%= form.grouped_collection_select :district_id, State.order(:name), :districts, :name, :id, :name, include_blank: true %>
    <br>
    <%= form.label 'What kind of help do you need?' %>
    <%= form.select :helps_id, options_for_select(Help.help_types), include_blank: true %>
<% end %>